In [4]:
import os
import pandas as pd
data_path = '/Users/mai/Projects/football-analytics'
os.chdir(data_path)
print(os.getcwd())

In [7]:
pd.read_csv('data/epl/20202021/fixtures.csv', index_col=0)

,match_id,gameweek,day_of_week,date,time,home_team,xg_home,score_home,score_away,xg_away,away_team,attendance,venue,referee,match_report_url
0,1,1,Sat,2020-09-12,12:30,Fulham,0.2,0,3,1.8,Arsenal,NaN,Craven Cottage,Chris Kavanagh,/en/matches/bf52349b/Fulham-Arsenal-September-...
1,2,1,Sat,2020-09-12,15:00,Crystal Palace,0.7,1,0,0.8,Southampton,NaN,Selhurst Park,Jonathan Moss,/en/matches/db261cb0/Crystal-Palace-Southampto...
2,3,1,Sat,2020-09-12,17:30,Liverpool,3.3,4,3,0.6,Leeds United,NaN,Anfield,Michael Oliver,/en/matches/21b58926/Liverpool-Leeds-United-Se...
3,4,1,Sat,2020-09-12,20:00,West Ham,1.1,0,2,1.5,Newcastle Utd,NaN,London Stadium,Stuart Attwell,/en/matches/78495ced/West-Ham-United-Newcastle...
4,5,1,Sun,2020-09-13,14:00,West Brom,0.5,0,3,2.2,Leicester City,NaN,The Hawthorns,Anthony Taylor,/en/matches/7dd01ca9/West-Bromwich-Albion-Leic...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,376,38,Sun,2021-05-23,16:00,Fulham,0.9,0,2,1.2,Newcastle Utd,NaN,Craven Cottage,Chris Kavanagh,/en/matches/f966eee0/Fulham-Newcastle-United-M...
376,377,38,Sun,2021-05-23,16:00,West Ham,1.7,3,0,1.4,Southampton,NaN,London Stadium,Martin Atkinson,/en/matches/50ec33b2/West-Ham-United-Southampt...
377,378,38,Sun,2021-05-23,16:00,Arsenal,1.1,2,0,0.4,Brighton,NaN,Emirates Stadium,Jonathan Moss,/en/matches/9f6c52f8/Arsenal-Brighton-and-Hove...
378,379,38,Sun,2021-05-23,16:00,Sheffield Utd,0.7,1,0,0.7,Burnley,NaN,Bramall Lane,Kevin Friend,/en/matches/2c07a228/Sheffield-United-Burnley-...
379,380,38,Sun,2021-05-23,16:00,Liverpool,1.8,2,0,0.8,Crystal Palace,NaN,Anfield,Craig Pawson,/en/matches/c2fc07f0/Liverpool-Crystal-Palace-...

In [34]:
pd.read_pickle('/Users/mai/Projects/football-analytics/data/whoscored/epl/20202021/1485563.pkl')['events'][300]

{'endX': 30.5,
 'endY': 84.9,
 'eventId': 171,
 'expandedMinute': 18,
 'id': 2302228765,
 'isTouch': True,
 'minute': 18,
 'outcomeType': {'displayName': 'Successful', 'value': 1},
 'period': {'displayName': 'FirstHalf', 'value': 1},
 'playerId': 16161,
 'qualifiers': [{'type': {'displayName': 'PassEndX', 'value': 140},
   'value': '30.5'},
  {'type': {'displayName': 'Length', 'value': 212}, 'value': '12.6'},
  {'type': {'displayName': 'PassEndY', 'value': 141}, 'value': '84.9'},
  {'type': {'displayName': 'StandingSave', 'value': 178}},
  {'type': {'displayName': 'Zone', 'value': 56}, 'value': 'Back'},
  {'type': {'displayName': 'Angle', 'value': 213}, 'value': '3.5'}],
 'satisfiedEventsTypes': [90, 116, 29, 34, 37, 214, 217],
 'second': 1,
 'teamId': 161,
 'type': {'displayName': 'Pass', 'value': 1},
 'x': 41.9,
 'y': 90.9}

In [49]:
lst = []
for e in pd.read_pickle('/Users/mai/Projects/football-analytics/data/whoscored/epl/20202021/1485563.pkl')['events']:
    for item in e['qualifiers']:
        if item['type']['displayName'] == 'Angle':
            m = e['minute']
            s = e['second']
            x1 = e['x']
            y1 = e['y']
            x2 = e['endX']
            y2 = e['endY']
            a = item['value']
            lst.append([m,s,x1,y1,x2,y2,float(a)])
tmp = pd.DataFrame(lst, columns=['min', 'sec', 'x1', 'y1',  'x2', 'y2', 'angle'])
tmp.head()

   min  sec    x1    y1    x2    y2  angle
0    0    0  50.0  50.0  34.8  51.2    3.1
1    0    1  34.6  42.1  23.1  28.3    3.8
2    0    4  23.1  28.3  20.6  45.2    1.8
3    0   10  23.1  47.0  40.5  94.7    1.1
4    0   13  42.0  94.4  27.5  81.4    3.7

In [51]:
tmp.describe()

,min,sec,x1,y1,x2,y2,angle
count,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000
mean,46.583851,29.747116,47.507897,45.481810,51.652795,45.047560,3.150843
std,27.375227,17.150802,22.799016,30.365955,22.816447,30.616086,2.025669
min,0.000000,0.000000,1.100000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,15.000000,30.600000,17.950000,33.700000,17.700000,1.200000
50%,48.000000,29.000000,46.400000,42.800000,52.300000,41.900000,3.200000
75%,68.500000,45.000000,65.450000,71.750000,68.900000,71.050000,5.100000
max,96.000000,59.000000,99.700000,100.000000,100.000000,100.000000,6.300000

In [99]:
from math import atan2,degrees
a = (50.0, 50.0)
b = (34.8, 51.2)
z = (b[0] - a[0], b[1] - a[1])
print(z)
(atan2(z[1], z[0]))

(-15.200000000000003, 1.2000000000000028)

3.0628086926006493